{% extends 'base/base.html' %} {% block content %}
<h2>Feature Details</h2>
<h3>{{ feature.title }}</h3>
<p><strong>Description:</strong> {{ feature.description }}</p>
<p><strong>Status:</strong> {{ feature.status }}</p>
<p><strong>Priority:</strong> {{ feature.priority }}</p>
<p><strong>Project:</strong> {{ feature.project }}</p>
<p><strong>Task:</strong> {{ feature.task }}</p>

<!-- Add links for update and delete options -->
<p>
  <a href="{% url 'quality_control:update_feature' feature.id %}"
    >Редактировать</a
  >
  <a href="{% url 'quality_control:delete_feature_confirm' feature.id %}"
    >Удалить</a
  >
</p>
{% endblock %}
